//Colors
$primary-color: #043C58;
$secondary-color: #E7977D;
$system-color: #FAFAF9;
$text-btn-color: #FFF9EB;
$btn-hover-color: #75A2B8;
//Font
$primary-font:'Open Sans', sans-serif;
//Font weights
$font-light: 300;
$font-regular:400;
$font-medium: 600;
$font-bold: 800;
//Tablet size
$tablet-width: 768px;
//desktop size
$desktop-width: 1024px;
